//l-footer
.l-footer
    .container.l-footer_row
        .l-footer-left
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.354695515939!2d105.81586281059872!3d21.018489180547526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7b234dd817%3A0x7fe330e955a57c59!2zMjMwIFAuIE1haSBBbmggVHXhuqVuLCBDaOG7oyBE4burYSwgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1690949453995!5m2!1svi!2s" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        .l-footer-right
            .l-footer-right_name Beauty Core Pilates 
            .l-footer-right_email 
                b Email: 
                span Example@gmail.com
            .l-footer-right_address 
                b Địa chỉ: 
                span Số 100 Láng Hạ, Đống Đa, Hà Nội
            .l-footer-right_phone 
                b Số điện thoại: 
                span 0987654321
            .l-footer-right_social 
                a.fb-icon(href="https://www.facebook.com/profile.php?id=100087971947661" target="_blank") 
                    i.fa-brands.fa-facebook.fa-2xl
                a.tiktok-icon#tiktok(href="https://www.tiktok.com/@bc.pilates" target="_blank")
                    i.fa-brands.fa-tiktok.fa-2xl
//end l-footer

