//l-nav
.l-nav#navbar
    nav.c-header-inner.navbar.navbar-expand-lg
        .header-hidden
        a.header-left(onclick="scrollToSession('home')")
            //- img(src="upload/logo-white.png", alt="").logo-white#logo-white
            img(src="upload/logo-black.png", alt="").logo-black#logo-black
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")#navbarbtn
            i.fa-solid.fa-bars
        ul.header_items.collapse.navbar-collapse#navbarNavAltMarkup
            li.header-right_home.nav-item#scrollElement(onclick="scrollToSession('home')")
                div Trang chủ 
            li.header-right_about.nav-item(onclick="scrollToSession('about')")
                div Thông tin về BC Pilates
            li.header-right_lesson.nav-item 
                div Đăng ký tập thử miễn phí
            li.header-right_lesson.nav-item(onclick="scrollToSession('health-lesson')") 
                div Lớp tập cải thiện sức khoẻ
            li.header-right_lesson.nav-item(onclick="scrollToSession('weight-lesson')")
                div Lớp tập giảm cân
            li.header-right_lesson.nav-item(onclick="scrollToSession('mom-lesson')")
                div Lớp tập cho mẹ bỉm sữa
            li.header-right_lesson.nav-item(onclick="scrollToSession('new-lesson')")
                div Lớp tập cho tân binh
            .header-right.nav-item.dropdown
                .dropdown-btn Xem thêm
                    i.fa-solid.fa-chevron-down
                .dropdown-content 
                    a(onclick="scrollToSession('home')") Đăng kí tập thử miễn phí
                    a(onclick="scrollToSession('health-lesson')") Lớp tập cải thiện sức khoẻ
                    a(onclick="scrollToSession('weight-lesson')") Lớp tập giảm cân 
                    a(onclick="scrollToSession('mom-lesson')") Lớp tập cho mẹ bỉm sữa
                    a(onclick="scrollToSession('new-lesson')") Lớp tập cho tân binh 
        .header_social
            a.fb-icon#fb(href="https://www.facebook.com/profile.php?id=100087971947661" target="_blank") 
                i.fa-brands.fa-facebook.fa-2xl
            a.tiktok-icon#tiktok(href="https://www.tiktok.com/@bc.pilates" target="_blank")
                i.fa-brands.fa-tiktok.fa-2xl

//end l-nav

