extends layouts/_layout.pug

block variables
    - var activePage = 'homepage';

block title
    title  BC.Pilates

block content
    include home/_home-banner
    include home/_home-slider
    include home/_home-about
    include home/_home-lesson
    include home/_home-activities