/*---------- example css ----------*/
.c-header-inner{
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    .header-left{
        display: flex;
        height: 80px;
        cursor: pointer;
        img {
          height: 80px;
          width: 80px;
        }
    }
    span{
        margin: 0 30px;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            color: rgb(56, 88, 152);
            border-bottom: 2px solid rgb(56, 88, 152);
        }
    }
}
.fb-icon{
    color: rgb(56, 88, 152);
    cursor: pointer;
    margin-right: 20px;
    width: 28px;
    height: 28px;
    color: #ccc;
}
.tiktok-icon{
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    color: #ccc;
}
.header_social{
    display: none;
}
.navbar-toggler{
    width: 28px;
    height: 28px;
}
.navbar{
    padding: 0 10px;
    ul{
        margin: 0;
        padding: 0 10px;
    }
    li{
        padding: 10px 0;
        list-style-type: none;
        cursor: pointer;
        font-weight: 600;
        &:hover{
            opacity: 0.9;
        }

        &:first-child{
            margin-top: 15px;
        }
        &:last-child{
            margin-bottom: 15px;
        }
    }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .c-header-inner{
        padding: 0 60px;
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
.c-header-inner{
    padding: 0 60px;
}
.header_social{
    display: block;
}
.navbar{
    ul{
        justify-content: center;
    }
    li{
        margin: 0 20px;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (min-width: 1440px){//pc largr size with 1400px tp grow up

}
//end example responsive css
/*---------- end example css ----------*/