/*---------- example css ----------*/
.c-header-inner{
    height: 100%;
    width: 100%;
    display: flex;
    min-height: 80px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    box-shadow: 0px 8px 35px 0px rgba(69, 61, 80, 0.05);

    .header-left{
        display: flex;
        height: 80px;
        cursor: pointer;
        img {
          height: 80px;
          width: 80px;
        }
    }
    span{
        margin: 0 30px;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            color: rgb(56, 88, 152);
            border-bottom: 2px solid rgb(56, 88, 152);
        }
    }
}
.fb-icon{
    color: rgb(56, 88, 152);
    cursor: pointer;
    margin-right: 20px;
    width: 28px;
    height: 28px;
    transition: all 0.3s ease-in-out;
}
.tiktok-icon{
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    color: #333;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #333;
        opacity: 0.9;
    }
}
.header_social{
    display: none;
}
.navbar-toggler{
    width: 28px;
    height: 28px;
}
.navbar{
    padding: 0 10px;
    ul{
        margin: 0;
        padding: 0 10px;
    }
    li{
        transition: all 0.3s ease-in-out;
        padding: 10px 0;
        list-style-type: none;
        cursor: pointer;
        font-weight: 600;
        &:hover{
            color: darkblue;
            opacity: 0.8;
        }

        &:first-child{
            margin-top: 15px;
        }
        &:last-child{
            margin-bottom: 15px;
        }
    }
}
.dropdown{
    display: none;
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .c-header-inner{
        padding: 0 60px;
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
.c-header-inner{
    padding: 0 60px;
    flex-direction: row;
    .header-right_lesson{
        display: none;
    }
}
.header_social{
    display: block;
}
.navbar{
    ul{
        justify-content: center;
    }
    li{
        margin: 0 20px;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.header-hidden{
    display: none;
}
.dropdown{
    display: block;
}
.dropdown-btn{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
    &:hover{
        color: darkblue;
        opacity: 0.8;
    }
    i{
        font-size: 14px;
        margin-left: 5px;
        font-weight: 700;
    }
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
  }
.dropdown-content{
    transition: all 0.3s ease-in-out;
    display: none;
    position: absolute;
    background-color: #fff;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        text-align: left;
        width: 100%;
        min-width: max-content;
        cursor: pointer;
        font-weight: 700;
    }
    &::before{
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        transform: rotate(45deg);
        border-bottom: 8px solid transparent;
        border-right: 8px solid transparent;
        border-left: 8px solid #fff;
        position: absolute;
        top: 0;
        left: 25%;
    }
}
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (min-width: 1440px){//pc largr size with 1400px tp grow up

}
//end example responsive css
/*---------- end example css ----------*/