/*---------- example css ----------*/
.pl-30{
    padding-left: 30px;
}
.pr-30{
    padding-right: 30px;
}
.mt-20{
    margin-top: 20px;
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
    
}
@media (min-width: $screen-xxl-min){//pc largr size with 1400px tp grow up

}
//end example responsive css
/*---------- end example css ----------*/