//home about
.c-home-slides#home
    .c-home-slides-content
        .c-home-slides-title Join Us
        .c-home-slides-des Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium upto doloremque amet dolor It is a long established.
        a(href="https://www.facebook.com/profile.php?id=100087971947661" target="_blank").c-home-slides-btn Join now
    .owl-carousel.slides-list.owl-theme
        img(src="upload/sample.jpg", alt="slide")
        img(src="upload/sample-2.jpg", alt="slide")
        img(src="upload/sample-3.jpg", alt="slide")
        img(src="upload/sample.jpg", alt="slide")
        img(src="upload/sample-2.jpg", alt="slide")
        img(src="upload/sample-3.jpg", alt="slide")
    .customPrevBtn.button.fa-solid.fa-chevron-left          
    .customNextBtn.button.button-right.fa-solid.fa-chevron-right
//end home about