//home about
.c-home-slides#home
    .owl-carousel.slides-list.owl-theme
        img(src="upload/sample.jpg", alt="slide")
        img(src="upload/sample-2.jpg", alt="slide")
        img(src="upload/sample-3.jpg", alt="slide")
        img(src="upload/sample.jpg", alt="slide")
        img(src="upload/sample-2.jpg", alt="slide")
        img(src="upload/sample-3.jpg", alt="slide")
    .customPrevBtn.button.fa-solid.fa-chevron-left          
    .customNextBtn.button.button-right.fa-solid.fa-chevron-right
//end home about