.bg-light
    .container
        .c-home-about
            .c-home-about-left
                .c-home-about_img
                    img(src="upload/upload-7.jpg", alt="").lazy
            .c-home-about-right
                .c-home-about_des.pl-30 Experience the benefits of tailored Pilates classes in Hanoi. Our expert instructors will create personalized routines to help you improve flexibility, strength, and posture. Whether you're a beginner or an advanced practitioner, our classes will meet your individual needs and fitness goals. Join us and start your journey to a healthier and more balanced body.
        .c-home-about.mt-20.rotate#about
            .c-home-about-left
                .c-home-about_img
                    img(src="upload/upload-8.jpg", alt="").lazy
            .c-home-about-right
                .c-home-about_title Về BC Pilates
                .c-home-about_des.pr-30 BC. pilates is a premier pilates studio located in the heart of Hanoi, HN. Our team of certified instructors are dedicated to helping our clients achieve their fitness goals through personalized, challenging and fun pilates classes. At BC. pilates, we believe that pilates is more than just a workout - it's a lifestyle. We strive to create a welcoming and supportive community where our clients can feel empowered and inspired to reach their full potential. Whether you're a beginner or an experienced practitioner, we offer a variety of classes and programs to suit your needs and help you achieve your best self.