.container 
    .c-home-act
        .c-home-act-left#activities 
            iframe(src="https://www.youtube-nocookie.com/embed/ZbR6dYkqorI", frameborder="0", allowfullscreen, allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",title="YouTube video player") 
        .c-home-act-right 
            .c-home-act_des.pl-30 Our Activities 