.bg-light
    .container
        .c-home-lesson
            .c-home-lesson-left
                .c-home-lesson_img
                    img(src="upload/upload-7.jpg", alt="").lazy
            .c-home-lesson-right
                .c-home-lesson_title.pl-30#health-lesson Lớp tập cải thiện sức khỏe
                .c-home-lesson_des.pl-30 Pilates có thể mang lại nhiều lợi ích cho sức khỏe , tăng đồ bền bỉ , giảm căng thẳng và những bênh lý liên quan tới xương khớp và những bệnh lý liên quan tới tim mạch.
        .c-home-lesson.mt-20.rotate#lesson
            .c-home-lesson-left
                .c-home-lesson_img
                    img(src="upload/upload-8.jpg", alt="").lazy
            .c-home-lesson-right
                .c-home-lesson_title#weight-lesson Lớp tập giảm cân
                .c-home-lesson_des.pr-30 Cùng với HLV tại BC việc tập Pilates giảm cân là điều không quá khó khăn và điều đặc biệt là những bài tập chuẩn y khoa không gây chấn thương.
        .c-home-lesson
            .c-home-lesson-left
                .c-home-lesson_img
                    img(src="upload/upload-7.jpg", alt="").lazy
            .c-home-lesson-right
                .c-home-lesson_title.pl-30#mom-lesson Lớp tập cho mẹ bỉm sữa
                .c-home-lesson_des.pl-30 Với những bài tập chuyên biệt giúp bà mẹ bỉm sữa sức khoẻ cải thiện rõ rệt , tâm lý thoải mái vì cộng đồng chị em tại BC rất thân thiện và cởi mở.
        .c-home-lesson.mt-20.rotate#lesson
            .c-home-lesson-left
                .c-home-lesson_img
                    img(src="upload/upload-8.jpg", alt="").lazy
            .c-home-lesson-right
                .c-home-lesson_title#new-lesson Lớp tập cho tân binh
                .c-home-lesson_des.pr-30 Giải quyết mọi trăn trở : Mặc gì , tập gì , giá cả buổi tập ra sao , cộng đồng mọi người tại phòng như nào ? BC tặng bạn hành trang cho tân binh , giảm giá khuyến khích cho những tân binh theo từng đợt trong tháng định kỳ.