.c-home-banner#home
    img(src="upload/sample-3.jpg", alt="")
    .c-home-banner-wrapper
        .c-home-banner-content
            .c-home-banner-title Join Us
            .c-home-banner-des Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium upto doloremque amet dolor It is a long established.
            a(href="https://www.facebook.com/profile.php?id=100087971947661" target="_blank").c-home-banner-btn Join now