//home about
.c-home-slides
    .owl-carousel.slides-list.owl-theme
        img(src="upload/upload-1.jpg", alt="slide")
        img(src="upload/upload-2.jpg", alt="slide")
        img(src="upload/upload-3.jpg", alt="slide")
        img(src="upload/upload-4.jpg", alt="slide")
        img(src="upload/upload-5.jpg", alt="slide")
        img(src="upload/upload-6.jpg", alt="slide")
    .customPrevBtn.button.fa-solid.fa-chevron-left          
    .customNextBtn.button.button-right.fa-solid.fa-chevron-right
//end home about